<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 병주라는 이름으로 값이 오면 인사하고 아니면 누구세요라고 묻는다-->
    <!-- jinja 템플릿에서는 if문 끝에 닫아줘야됨-->
    <!-- 주석 안에 중괄호 넣으려면 {##} 이런식으로 넣어야됨-->
    {% if html_name == '병주' %}    <!-- 사용자에게 보이지 않는 수식을 넣을 때 사용-->
        <h2>{{ html_name }} 왔니?</h2>
    {% else %}
        <h2>누구세요 ?</h2>
    {% endif %}

</body>
</html>